<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeygoIPhone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE5A81971DBA1A6C001756C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE5A81B01DBA1A6C001756C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE5A81BB1DBA1A6C001756C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
